* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Abel', sans-serif;
	/*font-family: 'Alegreya', serif;*/
}

body, html {

	background-color: #042b2c;
	/*background-image: url(https://images.pexels.com/photos/3778867/pexels-photo-3778867.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)*/
}

.bg-img {
	/*background-image: url(https://images.pexels.com/photos/3977517/pexels-photo-3977517.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) !important;*/
  background-image: url(https://images.pexels.com/photos/226326/pexels-photo-226326.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	filter: blur(3px);
  	-webkit-filter: blur(3px);
  	width: 100vw;
  	height: 100vh;
  	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
}

.landing-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  /*font-weight: bold;*/
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.footer-index {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 9px;
}

#footlogo 
{
  height: 10%;
  width: 10%;
  filter: grayscale(50%);
}

h1 {
	font-family: 'Ubuntu', sans-serif;
}

button {
	padding: 10px 24px;
	border-radius: 8px;
	background-color: white;
  color: black;
}

button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: black;
  color: white    ;
}

#exit {
	background-color: white;
	text-decoration: none;
	text-decoration-color: black;
}

#exit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: black;
  color: white    ;
}

/*NavBar*/

.navcontainer {
	background-color: #F2CEE1;
}

.navbar-brand > img {
	height: 15%;
	width: 15%;
}

/*Footer*/
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   /*margin-top: 5;*/
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   /*padding-top: 15px;*/
}

.footer2 {
	position: relative;
   left: 0;
   bottom: 0;
   /*margin-top: 5;*/
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   /*padding-top: 15px;*/
}

.fa {
  /*padding: 20px;*/
  font-size: 80px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  /*border-color: black;*/
}

.fa:hover {
  opacity: 0.7;
}

/*Home Page*/

#ams {
	height: 100%;
	width: 100%;
}

#body-text1 {
	/*padding-bottom: 110px; Original Setting*/
	/*padding-bottom: 200px;*/
	/*padding-top: 80px;*/
	border-color: grey;
	border: solid 1px;
	text-align: center;
	/*background-image: url(https://images.pexels.com/photos/1149363/pexels-photo-1149363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
  background-image: url(https://images.pexels.com/photos/1149363/pexels-photo-1149363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940): 
	background-repeat: no-repeat;
	background-size: 100%;
	/*filter: blur(1px);*/
	color: white;
	position: fixed;
}

#homecopy {
	margin-left: 400px;
	margin-right: 400px;
	text-align: justify;
	margin-bottom: 200px;
}

#tagline {
	margin-top: 375px;
	text-align: center;
}

/*.CTA-tab {
	background-color: #18ec8d;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#cta-1 {
	background-color: #84f5ec;
	color: #383838;
}*/

/*About*/

#title {
	text-align: center;
	padding-top: 20px;
	color: white;
}

#misvis {
	margin-right: 100px;
	margin-left: 100px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

#mission, #vision {
	text-align: justify;
	color: white;
	border-color: white;
	border-style: dotted;
}

.containerabout {
	background-image: url(https://images.pexels.com/photos/3693039/pexels-photo-3693039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
/*	margin-bottom: 60px;
	margin-top: 60px;*/
	filter: grayscale(100%);
}

/*Contact*/

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  /*resize: vertical;*/
}

input[type=submit] {
  background-color: #CEE0F2;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: #042b2c;
  color: white;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}