* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

.bg-img1 {
  background-image: url(https://images.pexels.com/photos/1157936/pexels-photo-1157936.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  /*background-image: url(https://images.pexels.com/photos/1149363/pexels-photo-1149363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*filter: blur(10px);*/
}

.container1 {
  /*position: flex;*/
  display: flex;
  justify-content: center;
  /*margin: 20px;*/
  width: auto;
  z-index: 100;
}

.topnav {
  overflow: hidden;
  z-index: 100;
  /*background-color: #333;*/
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.bgimage1 not(.container1) {
	filter: blur(20px);
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding-left: 100px;
  padding-right: 100px;
  /*margin-left: 300px;*/
  /*margin-right: 300px;*/
  text-align: center;
  font-weight: 300;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 9px;
}

#footlogo 
{
	height: 10%;
	width: 10%;
	filter: grayscale(50%);
}

.bg-img2 {
  /*background-image: url(https://images.pexels.com/photos/896058/pexels-photo-896058.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);*/
  /*background-image: url(https://images.pexels.com/photos/1149363/pexels-photo-1149363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
  /*background-image: url(https://images.pexels.com/photos/983156/pexels-photo-983156.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
  /*background-image: url(https://images.pexels.com/photos/3431113/pexels-photo-3431113.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);*/
  background-image: url(https://images.pexels.com/photos/3965660/pexels-photo-3965660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  filter: grayscale(100%);
  /*z-index: 10;*/
  /*filter: blur(10px);*/
}

.bg-img3 {
  /*background-image: url(https://images.pexels.com/photos/896058/pexels-photo-896058.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);*/
  /*background-image: url(https://images.pexels.com/photos/1149363/pexels-photo-1149363.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
  /*background-image: url(https://images.pexels.com/photos/983156/pexels-photo-983156.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
  /*background-image: url(https://images.pexels.com/photos/2830489/pexels-photo-2830489.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
  /*background-image: url(https://images.pexels.com/photos/3768705/pexels-photo-3768705.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);*/
  background-image: url(https://images.pexels.com/photos/1801000/pexels-photo-1801000.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  filter: grayscale(100%);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  /*filter: blur(10px);*/
}



#misvis {
	position: fixed;
	float: left;
	z-index: 200000;
	padding-top: 5%;
	padding-left: 60%;
	padding-right: 13%;
	text-align: justify;
	font-weight: 300;	
	color: white;
}

  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 25%;
  background-color: transparent;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

#branddsc > p {
	font-weight: 300;
	text-align: justify;
	color: black;
}

#branddsc > h6 {
	font-weight: 400;
	text-align: center;
	color: black;
	text-decoration-style: none;
}

#branddsc >h4 {
	font-weight: 400;
	text-align: center;
	color: black;
}

#brands {
/*	top: -1%;
	left: 50px;
	right: 90px;*/
	/*left: 200px;*/
	/*position: absolute;*/
	/*margin-left: 50%;*/
}

.card > img {
	border-radius: 100%;
	margin: auto;
}

#lml {
	margin-left: 50%;
	margin-top: 4%;
}

#bfx {
	margin-left: 1%;
	margin-top: 4%;
}

.bg-img4 {
	background-image: url(https://images.pexels.com/photos/383603/pexels-photo-383603.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	filter: grayscale(100%);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container4 {
  border-radius: 5px;
  background-color: #DFE2E6;
  margin-left: 75%;
  margin-right: 1%;
  margin-bottom: 60%;
  margin-top: -3%;
  padding: 10px;
  z-index: 500;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}